<h3>Services</h3>

<%= paginate @services %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Number of Requests</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
        <tr>
            <th scope="row"></th>
            <td><%= link_to service.service_request, service %></td>
            <td><%= link_to service.category.name, service.category %></td>
            <td><%= service.requests.length %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @services %>
