<% content_for (:html_title) {@service.service_request} %>

<h3><%= @service.service_request %></h3>

<%= paginate @requests %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Request Date</th>
      <th scope="col">Neighbourhood</th>
      <th scope="col">Ward</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
        <tr>
            <th scope="row"><%= request.date.strftime("%b %d, %Y") %></th>
            <td><%= request.neighbourhood.name  %></td>
            <td><%= request.neighbourhood.ward.name %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @requests %>