<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @request.service.service_request %></h5>
    <p class="card-text"><%= @request.service.category.name %></p>
    <p class="card-text"><%= @request.date %></p>
    <a href="http://maps.google.com/maps?z=12&t=m&q=loc:<%= @request.latitude %>+<%= @request.longitude %>" target="_blank" class="btn btn-primary">
    <%= @request.neighbourhood.name %>, <%= @request.neighbourhood.ward.name %>
    </a>
  </div>
</div>